.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Intellij
*.iml
.idea/workspace.xml
.idea/libraries

.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
build.gradle
